EXPO_PUBLIC_MQTT_HOST=URL-DO-SEU-BROKER
EXPO_PUBLIC_MQTT_PORT=PORTA-DO-SEU-BROKER (usualmente 8884 para websocket e 8883 para TCP)
EXPO_PUBLIC_MQTT_USERNAME=SEU-USERNAME
EXPO_PUBLIC_MQTT_PASS=SUA-SENHA
EXPO_PUBLIC_MQTT_PATH=/mqtt